{% extends "layout.html" %}

{% block content %}




<header class="text-black text-center py-5" style="background: rgba(0, 0, 0, 0.5);">
    <div class="container">
        <div class="jumbotron mt-2">
            <h1 class="display-6">About Our Task Manager</h1>
            <p class="lead">TaskManager: Our Inspiration and Journey</p>
        </div>
    </div>
</header>




<p class="content-section">The inspiration for TaskManager stems from a personal experience of constantly juggling multiple responsibilities and struggling to keep track of them.
    As students at ALX, we were often overwhelmed by the number of assignments, group projects, and personal tasks we had to manage.
    We realized that having a reliable tool to organize our tasks would significantly improve our productivity and reduce stress.</p>

<p class="content-section">One day, while brainstorming ideas for our portfolio project, we thought about creating a solution to this problem and improving what we had learned during these 9 months.
    We wanted to build a task management application that not only helps users organize their tasks but also allows them to collaborate with others.
    This idea was driven by our own needs and the desire to create something that could benefit many people in similar situations.</p>

<p class="content-section">We started developing TaskManager with the vision of creating a simple, intuitive, and efficient tool that can be used by anyone, whether they are students,
    professionals, or anyone in need of better task management. Throughout the development process, we kept user experience at the forefront,
    ensuring that the application is user-friendly and meets the needs of our target audience.</p>

<div class="content-section">
    <h3 >Timeline</h3>
    <ul>
        <li><strong>Initial Brainstorming and Conceptualization:</strong> We spent the first week discussing and refining our ideas.
            We identified the core features that TaskManager should have and created a roadmap for development.</li>
        <li><strong>Development Phase:</strong> Over the next few weeks, we worked tirelessly to bring our vision to life.
            We divided the tasks among team members, focusing on different aspects such as front-end design, back-end development, and database management.</li>
        <li><strong>Testing and Refinement:</strong> Once we had a working prototype, we began rigorous testing.
            We sought feedback from peers and friends, which helped us identify and fix bugs and improve the overall functionality of the application.</li>
        <li><strong>Finalization and Launch:</strong> After several iterations and improvements, we uploaded our TaskManager.
            It was a proud moment for us, knowing that we had created something useful from scratch.</li>
    </ul>
</div>


<p class="content-section">TaskManager is not just a project for us; it represents our journey of learning, collaboration, and perseverance.
    We hope that this tool will help others manage their tasks more effectively and achieve their goals.</p>

<p class="content-section">This project is part of our portfolio for ALX, showcasing the skills and knowledge we have gained during our time here.


<div class="content-section">
    <h3>Meet the Team</h3>
    <ul>
        <li><strong>Jawad from Morocco</strong></li>
        <ul>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/jawadkatten/">https://www.linkedin.com/in/jawadkatten/</a></li>
            <li>GitHub: <a href="https://github.com/jawkat">https://github.com/jawkat</a></li>
        </ul>
        <li><strong>Abdelrahman from Egypt</strong></li>
        <ul>
            <li>LinkedIn: [LinkedIn Link]</li>
            <li>GitHub: [GitHub Link]</li>
            <li>Twitter: [Twitter Link]</li>
        </ul>
    </ul>
</div>

    <div class="content-section">
        <h3>Project Repository</h3>
            <p>You can find the source code for TaskManager on our GitHub repository <a href="https://github.com/jawkat/project_alx">here</a>.</p>

            <p>Thank you for taking the time to learn about TaskManager. We hope you find it as helpful and empowering as we do!</p>

    </div>
</div>
{% endblock content %}
