{% extends "layout.html" %}
{% import 'macros.html' as macros %}
{% block content %}
    <h3 class="content-section">Tasks : we have to add filter here</h3>
    <table class="table table-bordered">
        <thead class="bg-steel">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Due Date</th>
                <th>Created</th>
                <th>Updated</th>
                <th class="text-center actions-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td class="article-title">{{ task.title }}</td>
                    <td class="article-content">{{ task.description }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.due_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ task.created_at.strftime('%Y-%m-%d') }}</td>
                    <td>{{ task.updated_at.strftime('%Y-%m-%d') }}</td>
                    <td class="table-actions">

                        <a href="{{ url_for('task', task_id=task.id) }}" class="btn btn-primary btn-sm">View</a>
                        <a href="{{ url_for('update_task', task_id=task.id) }}" class="btn btn-secondary btn-sm">Update</a>


                        <!-- Button to trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ task.id }}">
                            Remove
                        </button>
                        <!-- Call the macro to generate the modal -->
                        {{ macros.delete_modal("Confirm Task Deletion", task.id, task.title) }}
                    </td>
                </tr>


            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
