{% extends "layout.html" %}

{% block content %}
    <div class="container ">
      <div class="content-section ">
        <h2>Welcome to Task Manager</h2>
      </div>
      <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card content-section">
                    <div class="card-body ">
                        <h5 class="card-title ">Task Statistics</h5>
                        <ul class="list-group">
                            <li class="list-group-item ">Total Tasks: {{ num_tasks }}</li>
                            {% for status, count in num_tasks_by_status.items() %}
                            <li class="list-group-item">{{ status.capitalize() }}: {{ count }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card content-section">
                    <div class="card-body content-section">
                        <h5 class="card-title">Collaborator Statistics</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Total Collaborators: {{ num_collaborators }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
