{% macro delete_modal(title, note_id) %}
<div class="modal fade" id="deleteModal{{ note_id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ task_id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel{{ task_id }}">{{ title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete this note ?
                <small class="text-danger ml-2"> This action is irreversible </small>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                <form method="POST" action="{{ url_for('remove_note', note_id=note_id) }}">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
