{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Welcome to Task Manager!</h1>
            <p class="lead">Your go-to platform for efficient task management and collaboration.</p>
            <hr class="my-4">
            <p>Get started today and stay organized with our intuitive tools.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Explore Tasks</a>
            <p class="mt-3">Contact us:</p>
            <ul>

               <li><a href="#jawad">Jawad - Morocco</a></li>
               <li><a href="#abdelrahman">Abdelrahman - Egypt</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}
