body {
	width: 100%;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-image: url('my-main.jpg');
	background-position: center;
	background-size: cover; /* Ensures the background image covers the entire body */
	position: relative;
	margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
	color: #030303;
  }

  .bg-steel {
	background-color: #254053;
	color: #ffffff;
  }

  /* Table Styles */
  .table {
	width: 100%;
	margin: 20px 0;
	border-collapse:collapse;
  }

  .table th, .table td {
	border: 1px solid #dddddd;
	padding: 4px;
	text-align: left;
  }

  .table th {
	background-color: #254053;
	color: #ffffff;
  }

  .table td {
	background-color: #f9f9f9;
  }

  .table-actions a {
	margin-right: 1px;


  }

  .container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
  }

  .content-section {
	background: #ffffff;
	padding: 8px;
	border-radius: 2px;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
	margin-top: 20px;
  }

  .article-title {
	color: #161720;
  }

  a.article-title:hover {
	color: #428bca;
	text-decoration: none;
  }

  .article-content {
	white-space: pre-line;
  }

  .article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
	color: #333;
	text-decoration: none;
  }

  .article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
  }

  .account-heading {
	font-size: 2.5rem;
  }

  /* Navigation Bar Styles */
  .site-header .navbar-nav .nav-link {
	color: #fdfeff;
  }

  .site-header .navbar-nav .nav-link:hover {
	color: #f51717;
  }

  .site-header .navbar-nav .nav-link.active {
	font-weight: 500;
  }


  .note-content {
	font-size: 1rem;
	font-weight: normal;
}


.index-column {
    width: 50px;
    text-align: center;
}

.actions-column {
    width:210px;


}
