body {
  /* background: #fafafa; */
  /* background-color: rgba(250, 250, 250, 0.185); Adjust the last value (0.9) for transparency */
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  /* background-image: url('my-main.jpg'); */
  background-position: center;
  background-size: cover; /* Ensures the background image covers the entire body */
  position: relative;
  /* filter: blur(2px); */
  /* color: #b43a3a; */
  margin-top: 5rem;

}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-steel {
  background-color: #254053;
}

/* text style in the navigation bar */
.site-header .navbar-nav .nav-link {
  color: #fdfeff;
}

/* text style when moving mouse over to navigation bar */
.site-header .navbar-nav .nav-link:hover {
  color: #f51717;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;

}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
