{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
        <header class="page-header">
            <h1>About Our Task Manager</h1>
        </header>
        <section>
            <p>Welcome to our Task Manager application!</p>
            <p>Our application helps you organize tasks efficiently, collaborate with team members, and stay productive.</p>
            <p>Designed with simplicity and usability in mind, our Task Manager allows you to prioritize tasks, set deadlines, and track progress effortlessly.</p>
            <p>Start managing your tasks effectively today with our intuitive and user-friendly Task Manager!</p>
        </section>
    </div>
{% endblock content %}
